@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Sarabun:ital,wght@0,300;0,400;1,300;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "FPIFont";
    src: url("/fonts/Japanese3017.otf") format("woff2");
}

body {
    font-family: "Open Sans", "sans-serif";
    @apply duration-700;
}
.animate-spin-slow {
    animation: spin 5s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes scrolltop {
    0%,
    100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}
.animate-scrolltop {
    animation: scrolltop 2s infinite;
}
/* width */
::-webkit-scrollbar {
    @apply h-1.5 w-0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-gray-600 rounded-full absolute right-0 z-50;
}
/* Handle on hover */
._custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-primary;
}
._custom-scrollbar-shopee::-webkit-scrollbar-thumb:hover {
    @apply bg-shopee;
}
._custom-scrollbar::-webkit-scrollbar {
    @apply w-2 h-0 bg-transparent;
}
._custom-scrollbar-shopee::-webkit-scrollbar {
    @apply w-2 h-0 bg-transparent;
}
._product-scrollbar::-webkit-scrollbar {
    @apply w-0 h-2;
}
.__stroke {
    color: transparent;
    -webkit-text-stroke: 2px #9121ca;
    text-stroke: 2px #9121ca;
}

@keyframes rightleft {
    0%,
    100% {
        transform: translateX(50%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}
.animate-rightleft {
    animation: rightleft 1.5s infinite;
}

.backdrop-brightness-10 {
    --tw-backdrop-brightness: brightness(0.1);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
        var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
        var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
        var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
        var(--tw-backdrop-sepia);
}
